
/* Your CSS Code here. */
/* Style for the main element */
.accio#job {
  width: 150px;
  height: 150px;
  background-color: #000000;
}

/* Style for the paragraph inside main */
.hello-accio {
  color: #ffffff;
  margin-left: 32px;
  padding: 10px;
}
